@import "tailwindcss";

body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
}
/* Webkit Scrollbar Customization for Chrome/Safari/Edge */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #27272a; /* Zinc-800 */
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3f3f46; /* Zinc-700 */
}